<!DOCTYPE html>
<html lang="en">
<head>
  <title>davivcgarcia/nodejs-app-example - A simple TODO List implemented in MEAN</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
  <h1>davivcgarcia/nodejs-app-example</h1>
  <p>A simple TODO List App implemented with MEAN stack.</p>
  <h2>TODO</h2>
  <ul>
    <li>This is a sample task for markup only.</li>
  </ul>
  <script src="/assets/js/clientApp.js"></script>
</body>
</html>
